RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#rewrite cho trang giỏ hàng
RewriteRule them-vao-gio-hang/([0-9]+) index.php?controller=cart&action=add&id=$1
#rewrite cho trang giỏ hàng của bạn
RewriteRule gio-hang-cua-ban index.php?controller=cart&action=index
#rewrite cho trang xóa sản phẩm trong giỏ hàng
RewriteRule xoa-san-pham/([0-9]+) index.php?controller=cart&action=delete&id=$1
#rewrite cho trang thanh toán
RewriteRule thanh-toan index.php?controller=payment&action=index

#rewrite cho trang phương thức thanh toán
#RewriteRule phuong-thuc-thanh-toan index.php?controller=payment&action=payment