
/*Bài2*/
	#bai2{
		height: 250px;
		width: 400px;
		background: green;
		margin-bottom: 50px;
	}
	#h11
	{
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	#p11
	{
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	#ul11
	{
		background-color: red;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
/*Bài3*/
	#div_1{
		font-family: Arial;
		width: 665px;
		height: 30px;
		border: 1px solid black;
	}
	#tabe{
		margin-bottom: 20px;
		margin-left: 20px;
		width: 400px;
		height: 400px;
		border: 1px solid black;
		
	}
	.pink{
		width: 80px;
		height: 80px;
		background: pink;
		border: solid;

	}
	.blue{
		width: 180px;
		height: 75px;
		background: powderblue;
		border: solid;

	}
	#yellow{
		width: 180px;
		height: 75px;
		background: #ead16e;
		border: solid;

	}
/*Bài4*/
	.haf{
		text-align: center;
		width: 180px;
		height: 45px;
		border: 3px solid black;
	}
	#r2c1{
		text-align: center;
		width: 25px;
		height: 80px;
		border: 3px solid black;
	}
	#r2c2{
		text-align: center;
		width: 155px;
		height: 80px;
		border: 3px solid black;
	}
/*Bài5*/
	#img{
		background-image: url('bt5.png');
		width: 40px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: right;
	}
	.c01{
		white-space: nowrap;
	}
	


